/* Global styles */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    margin: 0;
    background-color: crimson;
    padding: 0;
  }
  .container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #51e512;
  }
  .menu li a{
    color: white;
  }
  header {
    background-color:crimson;
    padding: 20px 0;
  }
  
  header .logo {
    font-size: 44px;
    font-weight: bold;
    color: rgb(255, 208, 0);

  }
  .logo img {
    width: 3vw;
    height: auto;
    border-radius: 83px;
    margin: 23px 3px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333333;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: crimson;
  }
  
  .signup-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 12px;
  }
  
  label {
    font-weight: bold;
    color: #666666;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #cccccc;
    outline: none;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
  }
  
  .btn {
    padding: 12px 24px;
    width: 30%;
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
    color: #666666;
    font-size: 14px;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  .menu li a {
    color: white;
  }
  .menu li {
    border-radius: 12px;
    align-content: center;
    width: 23px;
    padding: 12px;
    background-color: rgb(52, 75, 75);
  }
  .menu li:hover {
    background-color: rgb(98, 165, 231);
    opacity: 90%;
    border-radius: 12px;
    text-decoration-color: #f5f5f5;
    color: rgb(236, 52, 67);
  }
  menu li a:hover{
    color: #2c150c;
  }
  
  .menu {
    height: 33px;
  }
  
  nav ul li a.active {
    color: rgb(230, 203, 83);
  }
  
  